<!--APRESENTAÇÃO-->
<div>
    <!--sobre o feiraoonline-->
    <div class="row" id="quemSomos">

        <div class="col-md-12">
            <h1 id="tituloPrincipal"> Sobre o FeiraoOnline.com<br></h1>
            <p><strong> Nossa Historia </strong></p>
        </div>
    </div>
    <!--quem somos-->
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <h2 id="titulo">Quem somos</h2>
            <p id="apresentacao">
                O Feirão Online foi fundado em 2019 na Cidade de São Paulo, somos uma das maiores empresas de
                entregas de frutas e verduras do Brasil.
                <br>

                Surgindo com o intuito de ajudar, e evitar desperdícios. Temos como objetivo além de realizar
                entregas, o projeto de reutilização das frutas e verduras sem uso, para adubagem.
                <br>
                Nossa maior missão é trazer para os nossos clientes mais comodidade, facilitando o seu dia a dia. E
                então, levando uma vida mais saudável.
        </div>

        <div class="col-md-3">
        </div>
    </div>
</div>

<div>
    <div class="row">
        <div class="col-md-12" id="parallax">

        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12" id="nossoTime">
        <h2>Nosso Time</h2>
    </div>
</div>

<div class="container">
    <div class="row">

        <div class="col-md-4 hoverzoom" id="perfil">
            <img src="../../assets/images/joao.jfif" id="img-circle" alt="perfil">
            <div class="retina">
                <a blank href="https://www.linkedin.com/in/joaolimabrr" target="_blank">Linkedin</a>
            </div>
        </div>

        <div class="col-md-8">
            <p class="bio">
                João Lima, 19 anos CEO do FeiraoOnline.com, que visa trazer comodidade e praticidade para os amantes
                de fruta
                com vendas e entregas online.
                Antes de ingressar na area de tecnologia João trabalhou como feirante durante 3 anos, aonde cresceu
                como pessoa e profissionalmente.
                Nascido na cidade de São Paulo, estudante de Analise e desenvolvimento de sistemas, conheceu
                tecnologia aos seu 18 anos
                e desde então se engaja em estudar e inovar, utilizando seu conhecimentos.
                João gosta de praticar diversos esportes como Futebol, Karate e Motocross.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 hoverzoom" id="perfil">
            <img src="../../assets/images/debora.jfif" id="img-circle" alt="perfil"/>
            <div class="retina">
                <a blank href="https://www.linkedin.com/in/débora-souza-370b24195" target="_blank">Linkedin</a>
            </div>
        </div>
        <div class="col-md-8">
            <p class="bio">
                Débora, 25 anos, natural de Brasília, atua como Desenvolvedora no FeirãoOnline. Apoia a ideia de
                qualidade de vida saudável. Amante e entusiasta da tecnologia. Ama estar se atualizando e repassando
                o pouco que sabe. Novos conhecimentos e informações são sempre bem vindas. Débora tem como hobby
                cozinhar e praticar esportes.
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 hoverzoom" id="perfil"><img src="../../assets/images/mayara.jfif" id="img-circle" alt="perfil">
            <div class="retina">
                <a blank href="https://www.linkedin.com/in/mayara-carmo-b7040b173" target="_blank">Linkedin</a>
            </div>
        </div>
        <div class="col-md-8">
            <p class="bio">
                Mayara do Carmo, 25 anos COO da FeiraoOnline.com, engajada com o projeto da Feira online, visa
                trazer mais saúde e comodidade aos seus clientes, mas principalmente conseguir de alguma forma fazer
                a diferença na vida das pessoas. Formada na área de Tecnologia em Análise e Desenvolvimento de
                Sistemas, atuou também no mercado de Telecomunicações. A Mayara acredita que através da tecnologia
                conseguira diminuir a pobreza no mundo e conseguirá melhorar a vida das pessoas.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 hoverzoom" id="perfil"><img src="../../assets/images/cleiton.jfif" id="img-circle" alt="perfil">
            <div class="retina">
                <a blank href="https://www.linkedin.com/in/marquescleiton" target="_blank">Linkedin</a>
            </div>
        </div>
        <div class="col-md-8">
            <p class="bio">
                Cleiton é jovem desenvolvedor, nascido em São Paulo e filho de dois mineiros.
                Com 21 anos de idade ele busca aprender e desenvolver projetos voltados a
                tecnologia. Atualmente ele faz faculdade de Engenharia de Computação
                na Universidade São Judas Tadeu e é certificado como Técnico em informática
                pela Escola Técnica de Sapopemba. Acreditando que o conhecimento pode mudar o
                mundo, ele sempre procura propagar seus conhecimentos com outras pessoas.
            </p>
        </div>
    </div>
</div>