<div class="container-fluid">
    <div class="mt-3">&nbsp;</div>
    <div class="row">
        <div class="col-md-12" id="titulo" >
            <h2 class="titulo-traco text-center"> <strong> Perguntas Frequentes </strong></h2>
       
            <p class="text-center" id="subtitulo"> Veja aqui principais dúvidas</p>
        </div>
    </div>
    
    <div class="mt-3">&nbsp;</div> 
    <div class="row" id="cards">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">

                            <button type="button" class="btn btn-link btn-accordion collapsed" data-toggle="collapse"
                                data-target="#collapseOne"><i class="fa fa-plus"></i> Pagamento</button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse " aria-labelledby="headingOne"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            No momento, o cartão de crédito e o boleto bancário são as opções de pagamento que
                            aceitamos. Isso porque, dessa forma, podemos fornecer um ambiente totalmente seguro para a
                            realização dos seus pagamentos.
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">

                            <button type="button" class="btn btn-link btn-accordion collapsed " data-toggle="collapse"
                                data-target="#collapseTwo"><i class="fa fa-plus"></i> <span style="white-space: pre-line;">Compensação de pagamento e emissão de pedidos</span> </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            Os pedidos são emitidos pelo sistema depois da notificação do pagamento.
                            A compensação das cobranças feitas por cartão geralmente ocorre no mesmo dia. No entanto, no
                            caso dos pagamentos via boleto bancário, a finalização desse processo demora de dois a três
                            dias até que o sistema seja notificado.
                        </div>
                    </div>
                </div>


                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">

                            <button type="button" class="btn btn-link btn-accordion collapsed " data-toggle="collapse"
                                data-target="#collapseThree"><i class="fa fa-plus"></i><span style="white-space: pre-line;">Entregas</span> </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            As entregas via Delivery são realizadas de Segunda a Sábado das 8h às 19h.
                            É importante que você se certifique de que haverá alguém no endereço indicado para receber o
                            pedido, além de garantir que o endereço esteja completo e correto. Em locais comerciais ou
                            condomínios com portarias/recepções, a entrega poderá ser realizada para terceiros
                            (porteiros, recepcionistas, secretárias etc.) na ausência do titular do pedido.
                        </div>
                    </div>
                </div>


                <div class="card">
                    <div class="card-header" id="headingFour">
                        <h5 class="mb-0">

                            <button type="button" class="btn btn-link btn-accordion collapsed " data-toggle="collapse"
                                data-target="#collapseFour"><i class="fa fa-plus"></i> Se não estiver em casa o que
                                acontece?</button>
                        </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            Na impossibilidade de entrega por algum motivo, seu pedido será devolvido
                            para o Feirão Online, e uma nova cobrança de frete será realizada.
                            Não realizamos entregas nos dias de feriados e domingos.
                        </div>
                    </div>
                </div>


                <div class="card">
                    <div class="card-header" id="headingFive">
                        <h5 class="mb-0">

                            <button type="button" class="btn btn-link btn-accordion collapsed " data-toggle="collapse"
                                data-target="#collapseFive"><i class="fa fa-plus"></i> Quais são as áreas de
                                entregas?</button>
                        </h5>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            O Feirão Online realiza entrega dos produtos em todo estado de São Paulo.
                        </div>
                    </div>
                </div>


                <div class="card">
                    <div class="card-header" id="headingSix">
                        <h5 class="mb-0">

                            <button type="button" class="btn btn-link btn-accordion collapsed " data-toggle="collapse"
                                data-target="#collapseSix"><i class="fa fa-plus"></i> Posso combinar um horário para
                                receber?</button>
                        </h5>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                        <div class="card-body">
                            O horário de entregas é único, entre 8h às 19h, o Feirão Online não trabalha ainda com opção
                            de hora marcada. É possível entregar o seu pedido diretamente na portaria ou recepção, basta
                            que o funcionário do local seja avisado com antecedência.
                        </div>
                    </div>
                </div>


                <div class="card">
                    <div class="card-header" id="headingSeven">
                        <h5 class="mb-0">

                            <button type="button" class="btn btn-link btn-accordion collapsed " data-toggle="collapse"
                                data-target="#collapseSeven"><i class="fa fa-plus"></i> Recebi um produto estragado ou
                                danificado. O que faço?</button>
                        </h5>
                    </div>
                    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            O FeiraoOonline.com sempre preza pela qualidade de serviço e produtos entregues para todos
                            os clientes. Para informar o recebimento de um produto estragado ou danificado na sua
                            compra, entre em contato conosco enviando um e-mail com os dados do pedido para troca do
                            mesmo.
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingEigth">
                        <h5 class="mb-0">

                            <button type="button" class="btn btn-link btn-accordion collapsed " data-toggle="collapse"
                                data-target="#collapseEigth"><i class="fa fa-plus"></i> Recebi um produto errado na
                                minha compra. O que faço?</button>
                        </h5>
                    </div>
                    <div id="collapseEigth" class="collapse" aria-labelledby="headingEigth"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            O Feirão Online sempre preza pela qualidade de serviço e produtos entregues para todos os
                            clientes. Para informar o recebimento de um produto errado em sua compra, entre em contato
                            conosco enviando um e-mail com os dados do pedido para troca do mesmo.
                        </div>
                    </div>
                </div>


                <div class="card">
                    <div class="card-header" id="headingNine">
                        <h5 class="mb-0">

                            <button type="button" class="btn btn-link btn-accordion collapsed " data-toggle="collapse"
                                data-target="#collapseNine"><i class="fa fa-plus" ></i><span style="white-space: pre-line;">Não recebi um produto que solicitei e que foi cobrado em minha nota fiscal. O que faço?</span> </button>
                        </h5>
                    </div>
                    <div id="collapseNine" class="collapse" aria-labelledby="headingNine"
                        data-parent="#accordionExample">
                        <div class="card-body">Para corrigir essa questão, entre em contato conosco enviando um e-mail,
                            com os dados do pedido e o nome do produto faltante.
                        </div>
                    </div>
                </div>



                <div class="card">
                    <div class="card-header" id="headingTen">
                        <h5 class="mb-0">

                            <button type="button" class="btn btn-link btn-accordion collapsed " data-toggle="collapse"
                                data-target="#collapseTen"><i class="fa fa-plus" ></i> Posso alterar uma forma de
                                pagamento?</button>
                        </h5>
                    </div>
                    <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample">
                        <div class="card-body" > Caso precise refazer o pagamento da sua compra, acesse sua conta, clique
                            em pedidos e encontre a requisição com problemas no pagamento. Você precisará reagendar sua
                            compra e refazer o pagamento.
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="col-md-12" id="titulo1">
        <h3>Outras Dúvidas? Escreva para nós!</h3>
    </div>
</div>

<div class="container-fluid">
    <div class="col-md-12" id="titulo1">
        <button type="button" class="btn btn-outline-success" [routerLink]="'/contato'">Click aqui</button>
    </div>
</div>


