<div class="mb-5">
    <div class="container-fluid" id="imagemContato">
        <div class="row" >
            <div class="col-md-12 ">

            </div>
        </div>
    </div> 

    <div class="container-fluid" id="faleConosco">
        <div class="row" id="titulo" >
            <div class="col-md-12">
                <h2>
                    <strong>Entre em contato</strong>
                </h2>
            </div>
        </div>
        <div class="row" id="linhaContato" id="titulo">
            <div class="col-md-12">
                <p>Utilize o formulario abaixo para entrar em contato conosco, enviar depoimento, criticas e sugestões:
                </p>
            </div> 

        </div> 
    </div>

    <div id="formContato">        

        <div class="row d-flex justify-content-center p-padrao">
            <div class="form-group col-md-4">
                <label for="text" class="required">Nome</label><br>
                <input type="text" class="form-control" id="nome" placeholder="Digite seu nome" required
                    [(ngModel)]="nome">
                <div class="erro">{{msgNome}}</div>
            </div>
            <div class="form-group col-md-4">
                <label for="text" class="required">Sobrenome</label>
                <input type="text" class="form-control" id="sobrenome" placeholder="Digite seu sobrenome" required
                    [(ngModel)]="sobrenome">
                <div class="erro">{{msgSobreNome}}</div>
            </div>
        </div>

        <div class="form-group">
            <div class="row d-flex justify-content-center">
                <div class="col-md-4">
                    <label for="E-mail" class="required">E-mail</label>
                    <input type="email" class="form-control" id="email" placeholder="feirao@gmail.com" required
                        [(ngModel)]="email">
                    <div class="erro">{{msgEmail}}</div>
                </div>

                <div class="col-md-4">
                    <label for="inputFone" class="control-label" class="required">Telefone</label>
                    <input type="tel" class="form-control phone-ddd-mask" id="telefone" maxlength="15"
                        placeholder="(65) 91811-5159" name="contact[telephone]" id="telefone_contato" required
                        [(ngModel)]="telefone" (keypress) = "formataTelefone($event);" (keyup) = "verificanumero();" restrict-input="^[0-9-]*$">
                    <div class="help-block with-errors"></div>
                    <div class="erro">{{msgTel}}</div>
                </div> 

            </div>
        </div>
 
        <div class="form-group ">
            <div class="row d-flex justify-content-center">
                <div class="col-md-4">
                    <label for="input" class="required">Tipo de contato</label>
                    <select id="tipoReclamacao" class="form-control" required [(ngModel)]="tipoContato">
                        <option>Sugestões</option>
                        <option>Elogios</option>
                        <option>Duvidas</option>
                        <option>Reclamações</option>
                    </select>
                    <div class="erro">{{msgTipoContato}}</div>
                </div>
                <div class="col-md-4">
                    <label for="input" required class="required">Assunto</label>
                    <input type="text" id="assunto" class="form-control" placeholder="Assunto da mensagem"
                        [(ngModel)]="assunto">
                    <div class="erro">{{msgAssunto}}</div>
                </div>
            </div>
        </div>
        <div class="form-group ">
            <div class="row d-flex justify-content-center">
                <div class="col-md-8">
                    <label for="exampleFormControlTextarea1" class="required">Digite sua mensagem</label>
                    <textarea class="form-control" id="textarea" rows="3" required [(ngModel)]="mensagem"></textarea>
                    <div class="erro">{{msgMensagem}}</div>
                </div>

            </div>
        </div>

        <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <button type="submit" id="btnEnviarContato" class="btn btn-success"
                        (click)='verificar();'>Enviar</button>
                </div>
                <div class="col-md-2"></div>
            </div>
    
</div>
</div>