#formContato
{
    padding-top: 2%;
    padding-left: 11.3%;
    padding-right: 12%;
}

#faleConosco
{
    text-align: center;
}

.erro{
    color: red; 
    font-size: unset;
} 

.required:after {
    content:"*"; 
    color: red; 
}

h2{
    padding-top: 2%;
} 



