<table class="table">
    <thead>
      <tr>
        <th scope="col" >Id</th>
        <th scope="col" >Titulo</th>
        <th scope="col" >Descrição</th>
        <th scope="col" >Estoque</th>
        <th scope="col" >Preço</th>
        <th scope="col" >Editar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let user of usuario'>
        <th scope="row" >{{user.id}}</th>
        <td>{{user.titulo}}</td>
        <td>{{user.descricao}}</td>
        <td>{{user.estoque}}</td>
        <td>{{user.preco}}</td>
        <td><a [routerLink]="['/editarProduto']"> <button type="button" class="btn btn-success">editar</button> </a></td>
      </tr>
    </tbody>
  </table>