<table class="table">
    <thead>
      <tr>
        <th scope="col" >Id</th>
        <th scope="col" >Titulo</th>
        <th scope="col" >Descrição</th>
        <th scope="col" >Estoque</th>
        <th scope="col" >Preço</th>
        <th scope="col" >Editar</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let p of produto'>
        <th scope="row" >{{p.idProduto}}</th>
        <td>{{p.titulo}}</td>
        <td>{{p.detalhes}}</td>
        <td>{{p.qtdEstoque}}</td>
        <td>{{p.preco}}</td>
        <td><a [routerLink]="['/editarproduto', p.idProduto]"> <button type="button" class="btn btn-success">editar</button> </a></td>
      </tr>
    </tbody>
  </table>