<div class="mt-3">&nbsp;</div>
<div id = "teste" class="row"></div>
<div id="mesa" class = "row"> </div>

<div class="row">

    
    <footer class="page-footer font-small container-fluid teal pt-4" id="footer">

        <h4 id="pag"><strong>Formas de Pagamento</strong></h4>
        <div class="row" id="formasPag">
            <div class="col-md-4">

            </div>
            <div class="col-md-1">
                <img src="../../assets/images/masterCard.png" alt="Cartão MasterCard" id="masterCard">
            </div>
            <div class="col-md-1">
                <img src="../../assets/images/elo.png" alt="Cartão Elo" id="masterCard">
            </div>
            <div class="col-md-1">
                <img src="../../assets/images/visa.png" alt="Cartão Visa" id="masterCard">
            </div>
            <div class="col-md-1">
                <img src="../../assets/images/boleto.png" alt="Boleto Bancario" id="masterCard">
            </div>
            <div class="col-md-4">

            </div>
        </div>
        <hr>

        <!-- Footer Text -->
        <div class="container-fluid text-center">
            <div class="row">
                <div class="col-md-12">
                    <p>
                        Preços e condições de pagamento exclusivos para compras via internet, podendo variar nas lojas
                        físicas. Ofertas válidas até o término dos nossos estoques para internet. Caso os produtos
                        apresentem divergências de valores, o preço válido é o da Sacola de compras.
                        Vendas sujeitas a análise e confirmação de dados.
                    </p>
                </div>
            </div>
        </div>
        <!-- Footer Text -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="https://mdbootstrap.com/education/bootstrap/"> FeiraoOnline.com</a>
        </div>
    </footer>
</div>