.botao {
    display: flex;
    justify-content: baseline;
    margin-top: 8%;
    margin-bottom: 6%;
    margin-left: 10%;
}

.botao .btn {
    margin-left: 2%;
    margin-right: 1%;
}



.alinhapesquisa {
    margin-left: 2.75%;
}

