@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Nunito+Sans|Raleway|Titillium+Web&display=swap');



#titulo{
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
}


.aux{
    text-align: center;
} 

.erro{
    color: red;
}

.required:after {
    content:"*"; 
    color: red; 
}  
 
h2{
    padding-top: 2%;
} 

#formCadastro{
    padding-top: 1%;
    padding-left: 11.3%;
    padding-right: 12%;
}