.aux{
    text-align: center;
}

.erro{
    color: red;
}

.required:after {
    content:"*"; 
    color: red; 
}  
 
h2{
    padding-top: 2%;
} 

#formCadastro{
    padding-top: 2%;
    padding-left: 11.3%;
    padding-right: 12%;
}