<table class="table">
  <thead>
    <tr>
      <th scope="col">Título</th>
      <th scope="col">Detalhes</th>
      <th scope="col">Quantidade</th>
      <th scope="col">Preço Unitário</th>
      <th scope="col">Total</th>
      <th scope="col">Apagar</th>

    </tr>

  </thead>
  <tbody>
    <tr *ngFor='let p of this.cliente.pedido'> 
      <th scope="row" *ngIf="(p.itens[0] != null) && (p.itens[0].produto != null)">
        {{p.itens[0].produto.titulo}}
      </th>
      <td>
       {{p.itens[0].produto.descricao}}
      </td>
      <td>
        {{p.quantidade}}
      </td>
      <td>
        R{{(p.itens[0].produto.preco)|currency}}
      </td>
      <td>
        {{calcula(p.quantidade, p.itens[0].produto.preco)|currency}}
      </td>
      <td>
        <a (click)="apagarPedido(p.idPedido);"> <button type="button" class="btn btn-danger"><i class="fa fa-trash-o"
              aria-hidden="true"></i></button> 
        </a>
      </td>
        {{cont(calcula(p.quantidade, p.itens[0].produto.preco))}} 
        {{contPedidos()}}
    </tr>


    <tr>
      <th scope="row">TOTAL</th>
      <td></td>
      <td>
        <div class="row">
          <i class="fa fa-shopping-cart" aria-hidden="true"> {{qtdPedidos}}</i>
        </div>
          
      </td>
      <td>
       
      </td>
      <td>
        <i class="fa fa-money" aria-hidden="true"></i> R{{ptotal|currency}} 
      </td>
      <td>
        <button type="button" (click) = "concluirCompra();"class="btn btn-success">Confirmar<i class="fa" aria-hidden="true"></i></button>
      </td>
    </tr>


  </tbody>
</table>