<div class="row">
  <div class="form-inline row alinhapesquisa">
    <div class="botao">
      <input class="form-control" type="text" placeholder="Pesquisar Produto" aria-label="Pesquisar Id"
        [(ngModel)]="titulo" [ngModelOptions]="{standalone: true}">
      <button class="btn btn-outline-success " (click)="PesquisarPorPalavra();" type="number">Pesquisar</button>
      <button class="btn btn-outline-success " (click)="mostrarTudo();" type="number">Mostrar
        Tudo</button>
    </div>
  </div>
</div>

<div *ngIf="busca == true">
  <div class="row d-flex justify-content-center">
    <div *ngFor="let produto of categoria.produto card">
      <div class="card mx-3 mt-4" style="width: 12rem;">
        <img class="card-img-top" src="{{produto.linkFoto}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title" id="banana"><strong>{{produto.titulo}}</strong></h5>
          <p class="card-text" id="precobanana"><s><strong>De: 7,49</strong></s></p>
          <div id="ofertabanana">
            <p><strong>Por: R$ {{produto.preco}}</strong></p>
          </div>
          <p><a [routerLink]="['/compra', produto.idProduto]" class="btn btn-success">Comprar</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="busca == false">
  <div class="row d-flex justify-content-center">
    <div *ngFor="let produto of produto card">
      <div class="card mx-3 mt-4" style="width: 12rem;">
        <img class="card-img-top" src="{{produto.linkFoto}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title" id="banana"><strong>{{produto.titulo}}</strong></h5>
          <p class="card-text" id="precobanana"><s><strong>De: 7,49</strong></s></p>
          <div id="ofertabanana">
            <p><strong>Por: R$ {{produto.preco}}</strong></p>
          </div>
          <p><a [routerLink]="['/compra', produto.idProduto]" class="btn btn-success">Comprar</a></p>
        </div>
      </div>
    </div>
  </div>
</div>