.botao {
    display: flex;
    justify-content: baseline;
    margin-top: 8%;
    margin-bottom: 6%;
    margin-left: 10%;
}

.botao .btn {
    margin-left: 2%;
    margin-right: 1%;
}

.alinhapesquisa {
    margin-left: 2.75%;
}

#categorialegumes {
    color: black;
    padding: 4px;
    background: rgb(1, 59, 1);
    color: white;
    text-align: center;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}