#titulo{
    text-align: center;
}
#imagem{
    text-align:center;
    margin-top: 20%;
}
#accordion{
    margin-bottom: 20%;
}
#cards{
    text-align: center;
}
#formDuvidas{
    padding-top: 2%;
    padding-left: 25%;
}