#alinhacardsofertas {
    margin-top: 2%;
    justify-content: center;
}

#alinhacardscomprados {
    margin-top: 2%;
    justify-content: center;
}

#alinhacategoria {
    margin-top: 1%; 
    margin-left: 2px;
}

#titulooferta {
    color: black;
    padding: 4px;
    background: rgb(1, 59, 1);
    color: white;
    text-align: center;
    border-radius: 10px;
}

#titulomaiscomprados {
    color: black;
    padding: 4px;
    background: rgb(1, 59, 1);
    color: white;
    text-align: center;
    border-radius: 10px;
}
#titulocategoria {
    color: black;
    padding: 4px;
    background: rgb(1, 59, 1);
    color: white;
    text-align: center;
    border-radius: 10px;
}

#banana {
    color: black;
}
#precobanana { 
    color: red;
    font-size: 13px;
}
#ofertabanana {
    color: rgba(13, 160, 8, 0.986);

}

#precolaranja {
    color: red;
    font-size: 13px;
}
#ofertalaranja {
    color: rgba(13, 160, 8, 0.986);
}

#tomate {
    color: black;
}
#precotomate {
    color: red;
    font-size: 13px;
}

#ofertatomate {
    color: rgba(13, 160, 8, 0.986);
}

#alface {
    color: black;
}

#precoalface {
    color: red;
    font-size: 13px;
}

#ofertaalface {
    color: rgba(13, 160, 8, 0.986);
}

#cenoura {
    color: black;
}
#precocenoura{
    color: rgba(13, 160, 8, 0.986);
}


#batata{
    color: black;
}
#precobatata{
   color: rgba(13, 160, 8, 0.986);
}

#beterraba{
	color: black;
}
#precobeterraba {
	color: rgba(13, 160, 8, 0.986);
}

#limaosiciliano {
	color: black;
}

#precolimaosiciliano {
	color: rgba(13, 160, 8, 0.986);
}

#botaocategoriafruta{
    margin-left: 38%;
}
#botaocategoriaverdura{
    margin-left: 35%;
}
#botaocategorialegume{
    margin-left: 35%;
}

#carrossel1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 0.1em 0.1em #333;
    padding-right: 35%;
}
#subtitulo1{
    padding-bottom: 30%;
    padding-left: 20%;
}

#carrossel2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 0.1em 0.1em #333;
    padding-right: 40%;
    
}
#subtitulo2{
    padding-bottom: 30%;
    padding-left: 20%;
}

#carrossel3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 0.1em 0.1em #333;
    padding-right: 40%;
}
#subtitulo3 {
    padding-bottom: 30%;
    padding-left: 20%;
}

