#alinhaocards {
    margin-top: 3%;
    margin-left: 1px;
}

#alinhacomprados {
    margin-top: 3%;
}

#titulooferta {
    color: black;
    margin-top: 3%;
    margin-left: 1%;
}

#titulomaiscomprados {
    color: black;
    margin-top: 3%;
    margin-left: 1px;
}
#titulocategoria {
    color: black;
    margin-top: 3%;
    margin-left: 1px;
}


#alinhacategoria {
    margin-left: 5%;
}

#banana {
    color: black;
}
#precobanana { 
    color: red;
    font-size: 13px;
}
#ofertabanana {
    color: rgba(13, 160, 8, 0.986);

}

#precolaranja {
    color: red;
    font-size: 13px;
}
#ofertalaranja {
    color: rgba(13, 160, 8, 0.986);
}

#tomate {
    color: black;
}
#precotomate {
    color: red;
    font-size: 13px;
}

#ofertatomate {
    color: rgba(13, 160, 8, 0.986);
}

#alface {
    color: black;
}

#precoalface {
    color: red;
    font-size: 13px;
}

#ofertaalface {
    color: rgba(13, 160, 8, 0.986);
}

#cenoura {
    color: black;
}
#precocenoura{
    color: rgba(13, 160, 8, 0.986);
}


#batata{
    color: black;
}
#precobatata{
   color: rgba(13, 160, 8, 0.986);
}

#beterraba{
	color: black;
}
#precobeterraba {
	color: rgba(13, 160, 8, 0.986);
}

#limaosiciliano {
	color: black;
}

#precolimaosiciliano {
	color: rgba(13, 160, 8, 0.986);
}

#botaocategoriafruta{
    margin-left: 32%;
}
#botaocategoriaverdura{
    margin-left: 28%;
}
#botaocategorialegume{
    margin-left: 25%;
}